#chat-form {
	position: relative;
}

#chat-form .chatghosttextarea {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  opacity: 0.5;
  box-shadow: none;
  outline: none;
  pointer-events: none;
  background: transparent;
}
.chatghosttextarea:not(.show) {
	display: none;
}